
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Estudante</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <a routerLink="/protegido" class="nav-text">Protegida</a>

    </ul>
  </div>
</nav>
<div>
  <h1> Informaçoes Gerais Dos Materiais Usados</h1><br>
  <br>
  <p>Linguagem usada: JavaScript</p>
  <p>Biblioteca de CSS utilizadas: Materialize, onaircode e html/css</p>
  <p>Autor : Ronei José Roteski</p>
  <p>Idade : 26 anos</p>
  <p>Curso : Sistemas para Internet</p>
  <p>Diciplina: Analise e Projetos de Interface</p>
  <p>Professor : Martim Dietterle</p>
</div>
<router-outlet></router-outlet>
