
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Estudante</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <a routerLink="/informacoes" class="nav-text">informaçoes</a>

    </ul>
  </div>
</nav>


<figure>
  <div class="round-container">
  <img src="../../../assets/ronei2.jpg">
  </div>
  <h1>Ronei</h1>
  <p>Estudante do Curso de Sistemas Para Internet</p>
  <ul class="icones-sociais">
      <li>
          <a href="http://pt-br.facebook.com/webcodefree" class="facebook">
              Facebook
          </a>
      </li>
      <li>
          <a href="https://github.com/" class="instagran">
              Instagran
          </a>
      </li>
      <li>
          <a href="https://twitter.com/" class="twitter">
              Twitter
          </a>
      </li>
      <li>
          <a href="https://br.linkedin.com/in/pauloricardomarinho" class="linkedin">
              LinkedIn
          </a>
      </li>
  </ul>

</figure>

<footer>
  <ul class="Contato">
    <li>Telefone : 984367230</li>
    <li>Email : Ronei_roteski@estudante.sc.senai.br</li>
    <li>© 2018 no Copyright </li>
  </ul>
</footer>
<router-outlet></router-outlet>
